/************************************
COLORS
************************************/

$primaryColor: #1c75bc;
$secondaryColor: #3AB54B;
$baseColor: #3C4650;
$white: #FFFFFF;


/************************************
FONTS
************************************/

$serif: 'Roboto Slab', Georgia, Times, serif;
$sans-serif: 'Oxygen', Helvetica, Arial, sans-serif;


/************************************
Transitions
************************************/

$mainTransition: all .3s ease-in-out;